.app {
  height: 100%;
  //width: 100%;
  margin: 0;
  padding: 0;

  > div.col-md-12 {
    height: 100%;
    //width: 100%;
    //padding: 0;
    > div.nav {
    }
    > div.content {
      height: 100%;
      //width: 100%;
      > div.col-md-3 {
        height: 100%;
        > div.row.tree {
          height: 50%;
          > div {
            height: 100%;
          }
        }
        > div.row.grid {
          height: 50%;
          > div {
            height: 100%;
          }
        }
      }
      > div.col-md-9 {
        height: 100%;
        > div.row.chart {
          height: 80%;
          > div {
            height: 100%;
          }
        }
        > div.row.pp {
          height: 20%;
          > div.col-md-6 {
            height: 100%;
            padding: 0;
            > div {
              height: 100%;
            }
          }
        }
      }
    }
  }

}