/**
 * Created by bai on 2015/11/24.
 */
.appMenu{
  height: 100%;
  >.panel{
    height: 100%;
  }

  nav .username {
    //font-weight: bold;
    //margin: 23px auto;
    //padding: 0;
    //height: 14px;
    //line-height: 14px;
  }

  nav .logout {
    text-decoration: none;
    margin-right: 20px;
  }
  nav .changePassword {
    text-decoration: none;
    //margin-right: 20px;
  }

}